body {
	background-image: url("pics/circuit.jpg");
	background-repeat: no-repeat;
	background-size:100% 1000px;
}
/*Fixed header*/
.header {
	background-color: #00ccff;
	position: fixed;
	height: 5em;
	width: 99%;
	border-radius: 10px;
	top:0;
}
.footer {
	background-color: #00ccff;
	position: fixed;
	height: 5em;
	width: 99%;
	border-radius: 10px;
	bottom:0;
}
/*Header buttons*/
.button {
	background-color: #00ccff;
	color:#000000;
	height:100%;
	width:25%;
	border-radius: 10px;
	display: inline-block;
	float:left;
	margin-right: .1%;
	margin-left: .1%;
	text-align: center;
	font-size: 2em;
}
.button-links {
	text-decoration: none;
	color:#000000;
}
/*Used for main contents of a page*/
.main {
	width:100%;
	color:#FFFFFF;
	height:20em;
	clear:both;
	font-size: 2em;
	text-align: center;
}
/*This wrapper sits under the fixed header bar*/
.wrapper {
	width: 980px;
	height: 5em;
}
/*For bubble buttons*/
.bubble {
	background-color: #003380;
	color:#000000;
	border-radius: 100%;
	display: inline-block;
	float: left;
	height: 35em;
	width:35em;
	margin:1em;
	text-align:center;
}
/*Home content box*/
.home {
	background-color: #00ccff;
	color:#000000;
	height:99%;
	width:100%;
} 
/*a banner for the bubbles*/
.banner {
	background-color: #00ccff;
	height: 15%;
	width: 65%;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	top:13em;
	font-size: 2em;
	border-radius: 35%;
}
/*Next two ids are for bubbles to tell the two apart*/
#about_bub {
	background-image: url("pics/me2.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}
#contact_bub {
	background-image: url("pics/contact.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}