body {
	background-image: url("pics/Flatirons.jpg");
}
.header {
	background-color: #2226B6;
	position: fixed;
	height: 5%;
	width: 99%;
	border-radius: 10px;
	top: -10px;
}
.button {
	background-color: #2226B6;
	color:#000000;
	height:100%;
	width:25%;
	border-radius: 10px;
	display: inline-block;
	float:left;
	margin-right: .1%;
	margin-left: .1%;
	text-align: center;
	font-size: 200%;
}