#header {
    width: 80%;
    margin:auto;
    text-align: center;
}
.headerItem {
    width: 22%;
}
#mainBody{
    height: 100%;
    width: 80%;
    margin: auto;
}
#sideBar{
    height: 100%;
    width: 20%;
    float: left;
}
.page {
    height: 100%;
    width: 80%;
    float: right;
}
.panel-group{
    width: 80% !important;
}
